{% extends "base.html" %}

{% block title %}Extrinsic Calibration{% endblock %}

{% block header %}Extrinsic Calibration{% endblock %}

{% block content%}
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <h2>Upload Videos for Extrinsic Calibration</h2>
        {{ video_upload_form.as_p }}
        
        <h2>Enter Checkerboard Information</h2>
        {{ checkerboard_info_form.as_p }}

        <button type="submit">Get extri.yml</button>
        
    </form>
{% endblock %}